<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckv.demo.mapper.AttendMapper">
	<insert id="insertAttend"  parameterType="com.luckv.demo.dto.Attend">
        insert into 
        	attend (
        		ano, /*경매 번호*/
        		buyer,  /*입찰자*/
        		bidding /*입찰가*/
	        ) values (
	        	#{ano},
	        	#{buyer},
	        	#{bidding}
	        )
    </insert>
</mapper>