<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckv.demo.mapper.AuctionMapper">

    <!-- 경매 전체 리스트 -->
    <select id="auctionAll"  parameterType="com.luckv.demo.dto.Auction"  resultType="com.luckv.demo.dto.Auction">
	  select 
		  		a.ano, /*경매 번호*/
	        	seller, /*판매자 회원번호*/
	        	s.mid as sellerNm, /*판매자 아이디*/ 
	    		title,  /*판매 제목*/
	    		content, /*판매내용*/
	    		vcate, /*카테고리*/
	    		pay_start, /*판매 시작가*/
	    		start_day, /*판매 시작일*/
	    		last_day, /*판매 종료일*/
	    		att.bidding as pay_max, /*최고가*/
	    		att.buyer as buyer, /*낙찰자 회원번호*/
	    		b.mid as buyerNm, /*낙찰자 아이디*/
	    		status /*판매 상태*/
        from auction a
		  	left join user s on  a.seller = s.mno
		  	left join video v on a.ano = v.ano 
		  	left join (SELECT ano, MAX(bidding) as bidding
           	FROM attend  GROUP BY ano) a1 on a1.ano = a.ano         
            left JOIN attend  att ON att.bidding = a1.bidding
		  	left join user b on att.buyer = b.mno   	   
	  where 1 = 1
	  	and status = "판매중"
	  	<if test="vcate  != null  and vcate  != ''">
	        and vcate = #{vcate} /*카테고리구분*/
	    </if>
	   order by a.start_day desc
	   LIMIT #{start}, #{end}
	</select>
	
	
    <!-- 판매리스트 총 개수 -->
    <select id="auctionCount" parameterType="com.luckv.demo.dto.Auction" resultType="Integer">
    	 select ifnull(count(*), 0) as cnt from auction
  		where 1 = 1
  		<if test="seller != null  and seller != ''">
	         and seller = #{seller}
	    </if>
	    <if test="vcate != null  and vcate  != ''">
	        and vcate  =  #{vcate} /*카테고리구분*/
	    </if>
  		
  		
    </select>
    
    <!-- 판매리스트 페이징처리 -->
    <select id="auctionPage"  parameterType="com.luckv.demo.dto.Auction"  resultType="com.luckv.demo.dto.Auction">
	  select 
	  		ano, /*경매 번호*/
        	seller, /*판매자 회원번호*/
    		title,  /*판매 제목*/
    		vcate, /*카테고리*/
    		pay_start, /*판매 시작가*/
    		start_day, /*판매 시작일*/
    		last_day, /*판매 종료일*/
    		status /*판매 상태*/
        from auction
	  where 1 = 1
	  	and seller = #{seller}
	   order by ano desc
	   LIMIT #{start}, #{end}
	</select>
	
    <!-- 판매 작성 -->
    <insert id="insertAuction"  parameterType="com.luckv.demo.dto.Auction">
    <selectKey resultType="Integer" keyProperty="ano" order="AFTER" >
        select last_insert_id()    
    </selectKey>   
        insert into 
        	auction (
        		seller, /*판매자 회원번호*/
        		title,  /*판매 제목*/
        		content, /*판매 내용*/
        		vcate, /*카테고리*/
        		pay_start, /*판매 시작가*/
        		start_day, /*판매 시작일*/
        		last_day, /*판매 종료일*/
        		status /*판매 상태*/
	        ) values (
	        	#{seller},
	        	#{title},
	        	#{content},
	        	#{vcate},
	        	#{payStart},
	        	date_format(#{startDay}, '%Y-%m-%d %H:%i:%s'),	        	
	        	date_format(#{lastDay}, '%Y-%m-%d %H:%i:%s'),
	        	#{status}	        	
	        )
    </insert>
    

      <!-- 판매 수정 -->
		<update id="auctionUpdate" parameterType="com.luckv.demo.dto.Auction">
		  update 
		  	auction
		  set 
			title = #{title}, /*판매 제목*/
       		content = #{content},  /*판매 내용*/
       		vcate = #{vcate} /*카테고리*/
		  where ano = #{ano}
		  and seller = #{seller}
		</update>
       
       <!-- 경매상세 -->
        <select id="auctionDetail"  parameterType="Integer" resultType="com.luckv.demo.dto.Auction">
       		select 
		  		a.ano, /*경매 번호*/
	        	seller, /*판매자 회원번호*/
	        	s.mid as sellerNm, /*판매자 아이디*/ 
	    		title,  /*판매 제목*/
	    		content, /*판매내용*/
	    		vcate, /*카테고리*/
	    		pay_start, /*판매 시작가*/
	    		start_day, /*판매 시작일*/
	    		last_day, /*판매 종료일*/
	    		att.bidding as pay_max, /*최고가*/
	    		att.buyer as buyer, /*낙찰자 회원번호*/
	    		b.mid as buyerNm, /*낙찰자 아이디*/
	    		status /*판매 상태*/
        from auction a
		  	left join user s on  a.seller = s.mno
		  	left join video v on a.ano = v.ano
		  	left join (SELECT ano, MAX(bidding) as bidding
           FROM attend  GROUP BY ano) a1 on a1.ano = a.ano         
            left JOIN attend  att ON att.bidding = a1.bidding
		  	left join user b on att.buyer = b.mno   	   
   	   where a.ano = #{ano}
	
       </select>
       
       <update id="statusIngUpdate">
		 update 
		 	auction 
		set 
			status = '판매중'
		where Timestampdiff(second, now(), start_day) <![CDATA[<=]]> 0
			and status != '판매종료' 
			and status != '판매중'
		</update>
		
		<update id="statusEndUpdate">
		update 
			auction 
		set 
			status = '판매종료'
		where timestampdiff(second, now(), last_day) <![CDATA[<=]]> 0
		and status != '판매종료'
		</update>
		
</mapper>