<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckv.demo.mapper.FrequentlyMapper">

	 <!--FaQ 조회 -->
    <select id="frequentlyList"  parameterType="com.luckv.demo.dto.Frequently" resultType="com.luckv.demo.dto.Frequently">
        select 
        	fno, /*faq 순번*/
        	f_title as questions, /*faq 질문*/
        	f_content as asked,  /*faq 답변*/
        	category /*faq 카테고리*/
        from frequently
        where  1=1
	     <if test="category != null  and category != ''">
	        and category =  #{category} /*카테고리구분*/
	     </if>
    		order by fno desc
    </select>
    
    <!-- FaQ 총 개수 -->
    <select id="frequentlyCount" parameterType="com.luckv.demo.dto.Frequently" resultType="Integer">
    	 select ifnull(count(*), 0) as cnt from frequently
  		where 1 = 1
    </select>
    
    <!-- FaQ 페이징처리 -->
    <select id="frequentlyPage"  parameterType="com.luckv.demo.dto.Frequently"  resultType="com.luckv.demo.dto.Frequently">
	  select 
        	fno, /*faq 순번*/
        	f_title as questions, /*faq 질문*/
        	f_content as asked,  /*faq 답변*/
        	category /*faq 카테고리*/
        from frequently
	  where 1 = 1
	  <if test="category != null  and category != ''">
	        and category =  #{category} /*카테고리구분*/
	    </if>
	   order by fno desc
	    LIMIT #{start}, #{end}
	</select>
	
    <!-- FaQ 작성 -->
    <insert id="insertFrequently"  parameterType="com.luckv.demo.dto.Frequently">
        insert into 
        	frequently (
        		f_title, /*faq 질문*/
        		f_content,  /*faq 답변*/
        		f_create, /*faq 작성일*/
        		category, /*카테고리*/
        		fid /*작성자*/
	        ) values (
	        	#{questions},
	        	#{asked},
	        	now(),
	        	#{category},
	        	#{fid}
	        )
    </insert>
    

      <!-- FaQ 수정 -->
		<update id="frequentlyUpdate" parameterType="com.luckv.demo.dto.Frequently">
		  update 
		  	frequently
		  set 
			f_title = #{questions}, /*faq 질문*/
       		f_content = #{asked},  /*faq 답변*/
       		f_update = now(), /*faq 수정일*/
       		category = #{category} /*카테고리*/
		  where fno = #{fno}
		</update>
       
       <!-- FaQ 삭제 -->
       <delete id="frequentlyDelete" parameterType="com.luckv.demo.dto.Frequently">
	       delete from 
	       	frequently
	       where fno = #{fno}
       </delete>
       
</mapper>