<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckv.demo.mapper.NoticeMapper">

	 <!--공지사항 조회 -->
    <select id="noticeList"  resultType="com.luckv.demo.dto.Notice">
        select 
        	nno as no, /*공지사항 순번*/
        	title, /*공지사항 제목*/
        	create_at /*공지사항 작성일*/
        from notice
    		order by no desc
    </select>
    
    <!-- 공지사항 총 개수 -->
    <select id="noticeCount" parameterType="com.luckv.demo.dto.Notice" resultType="Integer">
    	 select ifnull(count(*), 0) as cnt from notice
  		where 1 = 1
    </select>
    
    <!-- 공지사항 페이징처리 -->
    <select id="noticePage"  parameterType="com.luckv.demo.dto.Notice"  resultType="com.luckv.demo.dto.Notice">
	  select 
        	nno as no, /*공지사항 순번*/
        	title, /*공지사항 제목*/
        	create_at /*공지사항 작성일*/
        from notice
	  where 1 = 1
	   order by no desc
	    LIMIT #{start}, #{end}
	</select>
	
    <!-- 공지사항 작성 -->
    <insert id="insertNotice"  parameterType="com.luckv.demo.dto.Notice">
        insert into 
        	notice (
        		title, /*공지사항 제목*/
        		content, /*공지사항 내용*/
        		create_at, /*공지사항 작성일*/
        		nid /*작성자*/
	        ) values (
	        	#{title},
	        	#{content},
	        	now(),
	        	#{nid}
	        )
    </insert>
    
    <!-- 공지사항 상세보기 -->
       <select id="noticeDetail"  parameterType="Integer" resultType="com.luckv.demo.dto.Notice">
       		select
       			 n.nno as no, /*공지사항 순번*/
       			 n.title,  /*공지사항 제목*/
       			 n.content, /*공지사항 내용*/
       			 n.create_at, /*공지사항 작성일*/
       			 u.mid /*작성자*/
       		from notice n 
       		left join user u on  n.nid = u.mno 
       		where n.nno = #{nno}
       </select>
       
      <!-- 공지사항 수정 -->
		<update id="noticeUpdate" parameterType="com.luckv.demo.dto.Notice">
		  update 
		  	notice
		  set 
		  	title = #{title}, /*공지사항 제목*/
		  	content = #{content},  /*공지사항 내용*/
		  	update_at = now() /*공지사항 수정일*/
		  where nno = #{no} and nid = #{nid}
		</update>
       
</mapper>