<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luckv.demo.mapper.UserMapper">
  <!-- 아아디 중복 확인 -->
    <select id="getId" parameterType="com.luckv.demo.dto.user"  resultType="java.lang.Integer">
        select 
        	ifnull(count(*), 0) 
        from user
        where mid = #{mid}
    </select>

      <!-- 회원 가입 -->
    <insert id="addMember"  parameterType="com.luckv.demo.dto.user">
        insert into 
        	user (
        		mid,
        		pwd, 
        		name, 
        		ph, 
        		birth_date, 
        		auth, 
        		acccount,
        		sub_yn
        	) values (
        		#{mid}, 
        		#{pwd}, 
        		#{name}, 
        		#{ph}, 
        		#{birthDate}, 
        		#{auth}, 
        		#{acccount},
        		'N'
        	)
    </insert>

      <!-- 로그인 -->
    <select id="login"  parameterType="com.luckv.demo.dto.user"  resultType="com.luckv.demo.dto.user">
        select 
        	mid, name, auth, mno 
        from user
        where mid = #{mid} and pwd = #{pwd}
    </select>
    
    <!-- 회원정보 수정 -->
	<update id="updateMember"  parameterType="com.luckv.demo.dto.user">
		update user set 
			pwd = #{pwd},
			ph = #{ph}
		where mno = #{mno}
	</update>
	
	 <!--회원조회 -->
    <select id="infoMember"  parameterType="integer"  resultType="com.luckv.demo.dto.user">
        select 
        	*
        from user
        where mno = #{mno} 
    </select>
    
    
    <!-- 동영상 구독등록 -->
	<update id="videoSubYn"  parameterType="com.luckv.demo.dto.user">
		update 
			user 
		set 
			sub_yn = 'Y',
			sub_day = date_add(now(), interval +1 month)
		where mno = #{mno}
	</update>
    
    <!-- 동영상 구독해지 -->
       <update id="videoSubNot"  parameterType="com.luckv.demo.dto.user">
		update 
			user 
		set 
			sub_yn = 'N',
			sub_day = null
		where mno = #{mno}
	</update>
	
	<update id="videoSubAuto">
		update 
			user 
		set 
			sub_yn = 'N',
			sub_day = null
		where timestampdiff(second, now(), sub_day) <![CDATA[<=]]> 0
		</update>
    
</mapper>