<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttendDao.AttendMapper">

	<!-- 경매 입찰등록 -->
	<insert id="insertAttend"   parameterType="Attend">
        insert into 
        	attend (
        		ano, /*경매 번호*/
        		buyer,  /*입찰자*/
        		bidding /*입찰가*/
	        ) values (
	        	#{ano},
	        	#{buyer},
	        	#{bidding}
	        )
    </insert>
    
    <!-- 구매내역 -->
    <select id="attendList"  parameterType="Auction"  resultType="Auction">
       		select 
		  		a.ano, /*경매 번호*/
	        	seller, /*판매자 회원번호*/
	        	s.mid as sellerNm, /*판매자 아이디*/ 
	    		title,  /*판매 제목*/
	    		content, /*판매내용*/
	    		vcate, /*카테고리*/
	    		pay_start, /*판매 시작가*/
	    		start_day, /*판매 시작일*/
	    		last_day, /*판매 종료일*/
	    		att.bidding as pay_max, /*최고가*/
	    		att.buyer as buyer, /*낙찰자 회원번호*/
	    		b.mid as buyerNm, /*낙찰자 아이디*/
	    		status /*판매 상태*/
        	from auction a
			  	left join user s on  a.seller = s.mno
			  	left join video v on a.ano = v.ano
			  	left join (SELECT ano, MAX(bidding) as bidding
	           FROM attend  GROUP BY ano) a1 on a1.ano = a.ano         
	            left join attend  att  on a1.ano = att.ano and att.bidding = a1.bidding
			  	left join user b on att.buyer = b.mno		  			  	
		  	where a.status = '판매종료' and att.buyer = #{buyer}
		 	 	order by a.ano desc
	   		LIMIT ${rowCnt} offset ${page}
	
       </select>
       
       	<!-- 구매내역 페이징 -->
	    <select id="attendCount" parameterType="Auction" resultType="Auction">
	    	SELECT CEIL(count(1)/${rowCnt}) AS totalPageCnt
		     FROM auction a
		  	left join user s on  a.seller = s.mno
		  	left join video v on a.ano = v.ano
		  	left join (SELECT ano, MAX(bidding) as bidding
           FROM attend  GROUP BY ano) a1 on a1.ano = a.ano         
            left join attend  att  on a1.ano = att.ano and att.bidding = a1.bidding
		  	left join user b on att.buyer = b.mno		  			  	
	  		where a.status = '판매종료' and att.buyer = #{buyer}
		</select>
		
       
	    <!-- 내 입찰내역 -->
	    <select id="attendMy"  parameterType="Auction"  resultType="Auction">
	       	select 
		  		a.ano, /*경매 번호*/
	        	seller, /*판매자 회원번호*/
	        	s.mid as sellerNm, /*판매자 아이디*/ 
	    		title,  /*판매 제목*/
	    		content, /*판매내용*/
	    		vcate, /*카테고리*/
	    		pay_start, /*판매 시작가*/
	    		start_day, /*판매 시작일*/
	    		last_day, /*판매 종료일*/
	    		att.bidding as bidding, /*입찰가*/
	    		att.buyer as buyer, /*입찰자 회원번호*/
	    		b.mid as buyerNm, /*입찰자 아이디*/
	    		status /*판매 상태*/
        	from auction a
			  	left join user s on  a.seller = s.mno
			  	left join video v on a.ano = v.ano     
	            left join attend  att  on a.ano = att.ano 
			  	left join user b on att.buyer = b.mno		  			  	
		  	where att.buyer = #{buyer}
		 	 	order by a.ano desc
		   	LIMIT ${rowCnt} offset ${page}
		
	       </select>
	    
    

			<!-- 내 입찰내역 페이징 -->
		    <select id="attendMyCount" parameterType="Auction" resultType="Auction">
		    	 SELECT CEIL(count(1)/${rowCnt}) AS totalPageCnt
				  FROM  auction a
					  	left join user s on  a.seller = s.mno
					  	left join video v on a.ano = v.ano     
			            left join attend  att  on a.ano = att.ano 
					  	left join user b on att.buyer = b.mno		  			  	
				  	where att.buyer =  #{buyer}
			</select>
    
</mapper>