<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuestionDao.QuestionMapper">

	 <!--QnA 조회 -->
    <select id="questionList"  resultType="Question">
        select 
        	qno as no, /*QnA 순번*/
        	q_title as title, /*QnA 제목*/
        	q_create, /*QnA 작성일*/
        	u.mid as id /*작성자*/
        from question q
        left join user u on q.qid = u.mno 
    		order by no desc
    		LIMIT ${rowCnt} offset ${page}
    </select>
    
    <!-- QnA  총 개수 -->
    <select id="questionCount" parameterType="Question" resultType="Question">
    SELECT CEIL(count(1)/${rowCnt}) AS totalPageCnt
      FROM question 
    </select>
    
    <!-- QnA  페이징처리 -->
    <select id="questionPage"  parameterType="Question"  resultType="Question">
	 select 
        	qno  as no, /*QnA 순번*/
        	q_title as title, /*QnA 제목*/
        	q_create, /*QnA 작성일*/
        	u.mid as id, /*작성자*/
        	q.qpwd, /*비밀번호*/
        	(SELECT COUNT(*) FROM answer a  WHERE q.qno = a.qno) as reply /*댓글갯수*/
        	
        from question q

        left join user u on q.qid = u.mno 

	  where 1 = 1
	   order by no desc
	    LIMIT ${rowCnt} offset ${page}
	</select>
	
    <!-- QnA  작성 -->
    <insert id="insertQuestion"  parameterType="Question">
        insert into 
        	question (
        		q_title, /*QnA 제목*/
        		q_content, /*QnA 내용*/
        		q_create, /*QnA 작성일*/
        		qid, /*작성자*/
        		qpwd /*게시글비밀번호*/
	        ) values (
	        	#{title},
	        	#{content},
	        	now(),
	        	#{qid},
	        	#{qpwd}
	        )
    </insert>
    
    <!-- QnA  상세보기 -->
       <select id="questionDetail"  parameterType="Integer" resultType="Question">
       		select
       			 q.qno as no, /*QnA 순번*/
       			 q.q_title as title, /*QnA 제목*/
       			 q.q_content as content, /*QnA 내용*/
       			 q.q_create , /*QnA 작성일*/
       			 q.q_update, /*QnA 수정일*/
       			 q.qpwd,
       			 u.mid as id /*작성자*/
       		from question q 
       		inner join user u on  q.qid = u.mno 
       		where q.qno = #{no}
       		<if test="qpwd != null  and qpwd != ''">
	        	and qpwd =  #{qpwd} /*게시물 비밀번호*/
	     	</if>
       		
       </select>
       
      <!-- QnA  수정 -->
		<update id="questionUpdate" parameterType="Question">
		   update 
		  	question
		  set 
		  	q_title = #{title}, /*QnA 제목*/
		  	q_content = #{content},  /*QnA 내용*/
		  	q_update  = now(), /*QnA 수정일*/
		  	qpwd = #{qpwd} /*게시글 비밀번호*/
		  where qno = #{no}
		</update>
       
       <!-- QnA 삭제 -->
       <delete id="questionDelete" parameterType="Question">
	       delete from 
	       	question
	       where qno = #{qno}
       </delete>
       
       <!-- QnA답변 -->
       <select id="qnaAnswerList"  parameterType="int" resultType="Question">
         select 
        	qno as no, /*질문 순번*/
        	aid, /*답변자 회원번호*/
        	ano, /*답변 순번*/
        	a_content as comment,  /*답변*/
        	a_create /*답변 작성일*/
        from answer a 
        where  1=1
			and qno = #{qno}
    		order by qno asc 
    </select>
       
       
       <!-- QnA답변 수정 -->
		<update id="qnaAnswerUpdate" parameterType="Question">
		  update 
				answer 
			set 
				a_content = #{comment},
				a_update = now()
			where qno = #{no} 
			and ano = #{ano}
			and aid = #{aid}
		</update>
		
       <!-- QnA답변 작성 -->		
		<insert id="qnaAnswer" parameterType="Question">
		  insert into 
			answer (
				qno,
				aid,
				a_content,
				a_create
			) values (
				#{no},
				#{aid},
				#{comment},
				now()
			)
		</insert>
		
		<!-- QnA답변 삭제 -->
       <delete id="qnaAnswerDelete" parameterType="Question">
	       delete from 
	       	answer
	       where qno = #{no} 
	       and ano = #{ano}
		   and aid = #{aid}
       </delete>
</mapper>