@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-face($name, $url) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$url}") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
}
@include font-face(
  "NanumSquareNeo",
  "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2"
);

@include font-face(
  "ghanachoco",
  "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff"
);

@include font-face(
  "NanumSquareRound",
  "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff"
);

@include font-face(
  "KCC-Ganpan",
  "https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2"
);
